/* fonts.css */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Vidaloka&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Vidaloka&display=swap');



@tailwind base;
@tailwind components;
@tailwind utilities;



body {
  font-family: "Montserrat";
  
    overflow-x: hidden;
  
}
.custom-gap {
  gap: 750px;
}
.custom-border{
  width: 1150px;
  height: 1px;
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='%23333' stroke-width='3' stroke-dasharray='6%2c 14' stroke-dashoffset='0' stroke-linecap='butt'/%3e%3c/svg%3e");
}

.custom-container{
  max-width: 1182px
}
input[type="radio"] + label span {
  transition: background .2s, transform .2s;
}

input[type="radio"] + label span:hover,
input[type="radio"] + label:hover span {
  transform: scale(1.2);
}

input[type="radio"]:checked + label span {
  background-color: #1F9D55; /* bg-green-dark */
  box-shadow: 0px 0px 0px 2px white inset;
}

input[type="radio"]:checked + label {
  color: #1F9D55; /* text-green-dark */
}